
<div id="compl">
    <img src="assets/images/image-web-3-desktop.jpg" alt=""> 
    <section id="divicion">
        <div id="derecho">
            <h1>The Bringt Future of web 3.0?</h1>
        </div>
        <div id="izquierdo">
            <p>We dive into the next evolution of the web thaT
                claim to put the power of the platfomrs back
                into the hands oj the people. But is it ready 
                fulfilling it's promice?
            </p>
            <a href="#">LEARN MORE</a>
        </div>
    </section>
    
    

   
</div>