div{
    background-color: rgb(2, 21, 56);
}
#noticias {
    color: bisque;    
    padding: 16px;
    height: auto;
   
}
#noticias h3{
    font-size: 36px;
}
.nav_links {
    list-style: none;
}
#noticias .nav_links li a{
    font-size: 28px;
    text-decoration: none;
    color: aliceblue;
}
#noticias .nav_links li p{
    font-size: 20px;
    
    color: rgb(148, 166, 182);
}


