
<div id="noticias">
    <h3>New</h3>
    <ul class="nav_links">
        <li><a href="#">Hydrogen VS Electric Cars</a>
            <p>Will Hydrogen-fueled cars ever catch up 
                to Evs?
            </p>
            <hr>
        </li>
        <li><a href="#">The Downsides of al Artistry</a>
            <p>What are the posible adverse effecs of on-demand al image generation?
            </p>
            <hr>
        </li>   
       <li><a href="#">Is VC Funding Drying up?</a>
        <p>Private funding by VC firms is down 50% YDY.
            We take a look at What that means.
        </p>
        <hr>
    </li>
      
       </ul>
</div>