
<footer class="footer">
    
       
        <ul class="nav_links">
            <img src="assets/images/image-retro-pcs.jpg" alt="">
            <li>
              
               <h3>01</h3>
                <a href="#">Reviving Retro PCs</a>
                <p>What happens when old PC's <br> 
                    are given modern upgrades? 
                    
                </p>
               
            </li>
            <img src="assets/images/image-top-laptops.jpg" alt="">
            <li>
                <h3>02</h3>
                <a href="#">Top 10 Laptops of 2022</a>
                <p>Our best picks for varius <br>
                    needs and bungets 
                </p>
               
            </li> 
            <img src="assets/images/image-gaming-growth.jpg" alt="">  
           <li>
            <h3>03</h3>
            <a href="#">The Growth of Gaming</a>
            <p>How the pandemic has <br>
                 sparked fresh opportunities.
             </p>
          
        </li>
          
           </ul>
    
</footer>