*{
    margin: 0;
    padding: 0;
}

.izquierda{
   background-color: aquamarine;
    width: 60%;
    height: 100vh;

}

.derecha{
    background-color: aqua;
   
    width: 40%;
    height: 100vh;
}

#seccion {
    background-color: brown;
    display: flex;
    padding: 5px 10%;
}

.footer{

    height: 85px;
    padding: 2% 9%;
}